@{
    ViewData["Title"] = "Home Page";
}

<div>
  
<div class="flex-xl-row" sstyle="display: flex; justify-content: center;">
    <img src="/img/BadBitchWpp1.png" class="img-fluid" alt="..." style="display: grid; position: absolute;"/>
        <div class="card-group"  style="display: flex;
flex-direction: row;
justify-content: center;
align-items: center;">
          <div class="card col-5" style="position: absolute: align-self:center;">
            <img src="/img/israel2.png" class="card-img-top" alt="...">
           
            <div class="card-body" >
              <h5 class="card-title">Convidados</h5>
            </div>
          
            <div class="card-body">
                <img src="/img/Lusca.png" class="card-img-top" alt="...">
                    <div class="card-body"  style="justify-content: center; align-itens: center;">
                        <h5 class="card-title">Pendentes</h5>
                    </div>
            </div>
          </div>
        </div>
    </div>

</div>