html {
    font-size: 14px;
    background-color: rgb(46,46,46)
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    justify-content: center;
    align-content: center;
}